version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - backend

volumes:
  pgdata: