services:

  db:
    image: postgres:17-alpine
    container_name: financas_ibf_db
    restart: always
    env_file:
      - ./backend/.env.confdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - financas_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: financas_backend
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8000"
    restart: always
    networks:
      - financas_network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: financas_frontend
    env_file:
      - ./backend/.env    
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - financas_network

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend
      - frontend
    networks:
      - financas_network

volumes:
  pgdata:

networks:
  financas_network:
    driver: bridge